.loginModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: radial-gradient(#fff 15%, lightblue);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.close {
  position: fixed;
  top: 8px;
  right: 30px;
  font-size: 30px;
  cursor: pointer;
}
.logout {
  position: fixed;
  top: 20px;
  right: 50px;
  font-size: 20px;
  cursor: pointer;
}
.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  font: weight 300px;
}
.login {
  background-color: rgb(255, 255, 255);
  padding: 75px;
  border-radius: 5px;
  max-width: 400px;
}
.login input[type="text"],
.login input[type="password"] {
  width: 130%;
  margin-left: -15%;
}
.login .form-label {
  margin-left: -35px;
}
